.input-wrapper {
  input {
    display: block;
    width: 50%;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid #dfdddd;
    outline: none;
  }
  margin: 10px 30px;
  
}
button {
  margin: 10px 30px;
}